.submit_button:not(:disabled):hover {
    border: 1px solid white;
}

.submit_button:disabled {
    cursor: auto;
}

.clear_button:hover {
    border: 1px solid white;
}

.clear_button {
    background: red;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.input-field {
    min-width: 500px;
    height: 2em;
    font-size: 1.2em;
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 1.5em;
    color: palevioletred;
    background: papayawhip;
    border: none;
    border-radius: 3px;
    width: 80%;
}

.download-bar-container {
    width: 50%;
    /* Adjust as needed */
    height: 1em;
    /* Adjust as needed */
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-inline: auto;
    margin-top: 1em;
}

.download-bar {
    transition: all 1s ease-in-out;
    height: 100%;
    background-color: #4caf50;
    /* Adjust as needed */
}